SUPABASE_URL=https://qfojdoxrlplmzextjava.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
SUPABASE_SERVICE_KEY=eyJ...
STRIPE_SECRET_KEY=sk_live_...
STRIPE_PUBLISHABLE_KEY=pk_live_51TONQs9PMURueD2SBNhNx2PDswa7qRo1b9SeFzIkMZkfAMptOsaGZUjH67EjnJSCCYEJsrWZZ7shjkUWHS7JEcUG00h8lSRlJV
STRIPE_WEBHOOK_SECRET=whsec_Oi3foYlclM9MCVoBhfmffqoHYlrYZ7CT
